<div class="login-box" id="content">
    <div class="login-logo">
        <a href="#">
           <!--  <img src="img/logo.png"></a> -->
    </div>
    <!-- /.login-logo -->
    <div class="login-box-body">
        <p class="login-box-msg" style=" text-transform: uppercase;">Login</p>

        <form name="loginForm" novalidate data-ng-submit="validate(loginForm.$valid)" autocomplete="off">
            <div class="form-group has-feedback" data-ng-class="{
                                          'has-error' : loginForm.loginId.$invalid && (!loginForm.loginId.$pristine || showValid) && !loginForm.loginId.$focus,
                                          'has-success': loginForm.loginId.$valid && !loginForm.loginId.$pristine && !loginForm.loginId.$focus
                                            }">
                <input
                    type="email"
                    name="loginId"
                    class="form-control"
                    placeholder="Email"
                    data-ng-model="emailId"
                    ng-pattern="/^[a-zA-Z\s]+[a-zA-Z\s0-9._-]+@[a-zA-Z\sa-z0-9-]+\.[a-zA-Z\s.]{2,20}$/"
                    required />
                <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
                <div ng-messages="loginForm.loginId.$error" style="color: maroon" role="alert">
                    <div ng-message="required" data-ng-if="loginForm.loginId.$invalid && (!loginForm.loginId.$pristine || showValid) && !loginForm.loginId.$focus">This field is mandatory</div>
                    <div ng-message="pattern">Enter valid Email Address</div>
                </div>

            </div>
            <div class="form-group has-feedback" data-ng-class="{
                                          'has-error' : loginForm.pswrd.$invalid && (!loginForm.pswrd.$pristine || showValid) && !loginForm.pswrd.$focus,
                                          'has-success': loginForm.pswrd.$valid && !loginForm.pswrd.$pristine && !loginForm.pswrd.$focus
                                            }">
                <input
                    type="password"
                    name="pswrd"
                    data-ng-model="psword"
                    class="form-control"
                    placeholder="Password"
                    required
                    />
                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                <div ng-messages="loginForm.pswrd.$error" style="color: maroon" role="alert">
                    <div ng-message="required" data-ng-if="loginForm.pswrd.$invalid && (!loginForm.pswrd.$pristine || showValid) && !loginForm.pswrd.$focus">This field is mandatory</div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <div class="checkbox icheck">
                        <label>
                            <input type="checkbox">&nbsp; Remember Me
                        </label>
                    </div>
                </div>
                <!-- /.col -->
                <div class="col-xs-4">
                    <button type="button" class="btn btn-primary btn-block btn-flat" ng-click="validate()">Login</button>
                </div>
                <!-- /.col -->
            </div>
        </form>


        <!-- /.social-auth-links -->

        <a data-toggle="modal" data-target="#resetpass" style="cursor: pointer;">I forgot my password</a><br>
    </div>
    <!-- /.login-box-body -->
</div>
